body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.page {
  min-height: 100vh;
  padding: 40px;
}

h1 {
  color: #facc15;
  font-size: 52px;
}

p {
  font-size: 22px;
}

button {
  background: #facc15;
  color: black;
  border: 0;
  padding: 14px 24px;
  border-radius: 10px;
  font-weight: bold;
} 
